.login-form {
    max-width: 100%;
    padding: 40px;
  }
  .login-form-forgot {
    float: right;
  }
  .ant-col-rtl .login-form-forgot {
    float: left;
  }
  .email-Verify{
    font-size: 30px;
    margin-top: 10px;
    color: #32cd32;
    cursor: pointer;
  }
  .login-form-button {
    width: 100%;
    color:black;
    font-weight: 600;
    font-size: 16px;
    background-color: #32cd32;
    border-radius: 40px;
    height:50px;
    border:none

  }
  .itemPadding{
    margin-bottom: 20px;
}
  .login-form-button:hover{
    background-color: #7fff5f;

  }
  .login-form-button:focus{
    background-color: #7ec771;

  }
  .forgetPass{
   display: flex;
   flex-direction: row-reverse;
  }
  .forgetPass:hover{
    text-decoration: underline;
   }
  .inputField{
    height:50px;
    border-radius: 40px;
  }

  .site-form-item-icon{
    color: #32cd32;
  }
  .marginPadding{
    margin-top: 10px;
  }
  .curve{
    height: 300px;
    background-color: #32cd32;
    border-radius: 0px 0px 50% 50%;
  
  }
  .headingDrop{
    color:'grey'
  }
  .ImageStyle{
    margin-left: 630px;
    margin-top: 30px;
    width: 200px;
    height:200px
  }
  .divheight{
    width: 100%;
    min-height:110vh;

  }
  .headingStyle{
    margin-left: 630px;
    margin-top: 30px;
    color:black;
    
  }
  .textmodal{
    font-weight: 10;
    margin-bottom:5px
  }
 
  /* .curve1{
    margin-left:100px;
    margin-top:30px
  } */

  #components-layout-demo-fixed-sider .logo {
    height: 32px;
    margin: 16px;
    background: rgba(255, 255, 255, 0.2);
  }
  .site-layout .site-layout-background {
    background: #fff;
  }